.figure {
    height: auto;
    width: auto;
}
h2 {
    font-size: large;  
}
.artist-img {
    align-items: center;
}
.artist-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.artist-biography{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: medium;
}