.table-top{
    border: 3px;
    border-color: black;
}
.table{
    border: 3px;
    border-bottom: 5px;
    border-color: black;
}
.table-body{
    border-style:double;
    border-color: black;
}
p{
    font-size: medium;
    font-weight: bold;
    margin-left: 5px;
}